doctype html
html
  head
    title Flight
    link(rel="stylesheet", href="/stylesheet/index.css")
    script(src="/script/index.js")
  body
    div(class="screen")
      span(class="title")= 'Flight'
      table(class="statTable")
        thead
          tr(class="statHeaderRow")
            for value in header
              th(class="statCell")= value
        tbody
          for flight in flights
            tr(class="statRow")
              each val, index in flight
                td(class="statCell")= val
      span(class="statusName")= 'Status: '
      span(class="statusValue")= status
