doctype html
html
  head
    title Flight
    link(rel="stylesheet", href="/stylesheet/index.css")
    script(src="/script/index.js")
  body
    div(class="screen")
      span(class="title")= 'Flight'
      table(class="statTable")
        thead
          tr(class="statHeaderRow")
            for col in columns
              th(class="statCell")= col.name
        tbody
          for flight in flights
            tr(class="statRow")
              each value, index in flight
                td(class="statCell")= value + (columns[index].unit || "")
      span(class="statusName")= 'status: '
      span(class="statusValue")= status
